<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student PLacement Predictor</title>
</head>
<body>
    <h1>Student Placement Predictor</h1>
    <form action="/predict" method="post">
        <label>CGPA</label>
        <input type="number" name="cgpa" step="0.01" required placeholder="Out of 10"><br>

        <label>Internships</label>
        <input type="number" name="internship" required><br>

        <label>Projects</label>
        <input type="number" name="project" required><br>

        <label>Workshops/Certifications</label>
        <input type="number" name="workshop" required><br>

        <label>Aptitude Score</label>
        <input type="number" name="aptitude" required placeholder="Out of 100"><br>

        <label>SoftSkill Rating</label>
        <input type="number" name="softskill" step="0.01" required placeholder="Out of 5"><br>

        <label>ExtraCurricular Activities</label>
        <select name="extra">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select><br>

        <label>Placement Training</label>
        <select name="training">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select><br>

        <label>SSC Marks</label>
        <input type="number" name="ssc" required placeholder="Out of 100"><br>

        <label>HSC Marks</label>
        <input type="number" name="hsc" required placeholder="Out of 100"><br>
        
        <button type="submit">Predict</button>
    </form>
</body>
</html>