<!DOCTYPE html>
<html>
<head>
    <title>Placement Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
    <div class="logo">
    PLACEMENT <br> <span>PREDICTION</span>
</div>

    <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
    </nav>
</header>

<section class="hero">

    <div class="hero-text">
        <h1>WELCOME TO</h1>
        <h2>PLACEMENT <span>PREDICTION APP</span></h2>

        <p>
            A Placement Prediction App helps students estimate their chances 
            of getting placed using Machine Learning.
        </p>

        <a href="/predict" class="btn-link">PREDICT</a>
    </div>

</section>

</body>
</html>