<!DOCTYPE html>
<html>
<head>
    <title>Predict Placement</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-wrapper">   <!-- 🔥 IMPORTANT -->

    <div class="form-container">

        <h1>Student Details</h1>

        <form action="/result" method="post">

            <input name="cgpa" type="number" step="any" placeholder="CGPA(On scale of 10)" required>
            <input name="internships" type="number" placeholder="Internships">
            <input name="projects" type="number" placeholder="Projects">
            <input name="workshops" type="number" placeholder="Workshops/Certifications">
            <input name="aptitude" type="number" placeholder="Aptitude Score(Out of 100)">
            <input name="soft" type="number" placeholder="Soft Skills Rating(out of 5)">
            <input name="extra" type="number" placeholder="Extracurricular Activities">
            <input name="training" type="number" placeholder="Placement Training">
            <input name="ssc" type="number" placeholder="SSC Marks">
            <input name="hsc" type="number" placeholder="HSC Marks">

            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Predict Placement
            </button>

        </form>

    </div>

</div>

</body>
</html>